services:
  - type: web
    name: tri-o-fliptrybe
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: bash -c "chmod +x ops/start.sh && ./ops/start.sh"
    envVars:
      - key: FLIPTRYBE_ENV
        value: prod
      - key: ESCROW_CRON_TOKEN
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
